<%= form_tag :action => 'courses' do %>
  <h2 style="font: bold 160% arial,sans-serif; color: #555555;">Teilnehmerlisten</h2>

  <p style="font-family: Verdana,sans-serif; font-size: 11px;">
    Kurs:
    <%= select_tag "course", options_from_collection_for_select(@courses, "id", "course_name"), include_blank: true %>
    <em>(Kurse älter als ein Jahr werden nicht mehr angezeigt.)</em><br>

    Training:
    <%= select_tag "training", options_from_collection_for_select(@trainings, "id", "course_name"), include_blank: true %>

  </p>

  <%= submit_tag "Liste", :name => 'list' %>
  <%= submit_tag "Email", :name => 'email' %> 
  <%= submit_tag "CSV", :name => 'csv' %>

<% end %>

<%= form_tag :action => 'exams' do %>
  <h2 style="font: bold 160% arial,sans-serif; color: #555555;">Prüfungen</h2>

  <p style="font-family: Verdana,sans-serif; font-size: 11px;">
  Prüfung:<br>
  <%= select_tag "exam", options_for_select(@exams), include_blank: false, :multiple => true %><br>
  <em>(Prüfungen älter als ein Jahr werden nicht mehr angezeigt.)</em><br>

  </p>

  <%= submit_tag "Teilnehmer", :name => 'participants' %>

<% end %>
